:root {
    --verde-oscuro: #1e4034;
    --naranja-acento: #e68a49;
    --naranja-hover: #cf7538;
    --fondo-crema: #f1f6f1;
    --blanco-tarjeta: #ffffff;
    --texto-oscuro: #333333;
    --borde-suave: #e0e6e0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--fondo-crema);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 8vh; 
}

body, html {
    overflow-x: hidden;
}



.container {
    background-color: var(--blanco-tarjeta);
    padding: 1.5rem 2rem; 
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
    width: 100%;
    max-width: 350px; 
}

.logo-container {
    text-align: center; 
    margin-bottom: 20px; 
}

.logo {
    max-width: 150px; 
    height: auto;
}

h2 {
    color: var(--verde-oscuro);
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem; 
    font-size: 1.5rem;
}

.form-group {
    margin-bottom: 0.7rem; 
}

label {
    display: block;
    margin-bottom: 0.4rem; 
    margin-top: 1.3rem;
    font-weight: 600;
    font-size: 0.8rem; 
    color: var(--verde-oscuro);
}

input {
    width: 100%;
    padding: 0.8rem; 
    border: 1px solid var(--borde-suave);
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #fafafa;
    font-size: 0.85rem;
    transition: all 0.2s ease;
}

input:focus {
    outline: none;
    border-color: var(--naranja-acento);
    background-color: #fff;
}

button {
    width: 100%;
    padding: 0.7rem;
    background-color: var(--naranja-acento);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

button:hover {
    background-color: var(--naranja-hover);
}

button:active {
    transform: scale(0.98);
}

/* Modifica esto en tu registrar.css */
.error-message {
    color: #ff4d4d;
    font-size: 0.75rem;
    margin-top: 2px; /* Reducido para que no empuje tanto el diseño */
    display: block;
    height: 14px; /* Altura fija para evitar que los inputs "salten" al aparecer el error */
    font-weight: 500;
}

/* Asegúrate de que los bordes verdes y rojos se vean claros */
input.valid {
    border-color: #2ecc71 !important;
}

input.invalid {
    border-color: #ff4d4d !important;
}

.footer-text {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.75rem;
    color: #777;
}

.footer-text a {
    color: var(--naranja-acento);
    text-decoration: none;
    font-weight: bold;
}

.footer-text a:hover {
    text-decoration: underline;
}